@import "tailwindcss";

.nautigal {
  font-family: "The Nautigal", cursive;
  font-weight: 400;
  font-style: normal;
}

.nautigal-bold{
  font-family: "The Nautigal", cursive;
  font-weight: 800;
  font-style: bold;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: bold;
}


.quicksand-normal {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.quicksand-extrabold {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-style: normal;
}


.signika-normal {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

.righteous-normal {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: normal;
}


.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

body{
  /* animation: theme 21s linear infinite; */
  
  &:after,
  &:before {
      content: '';
      display: block;
      position: fixed;
      z-index: -1;
      top: 0;
      width: 100vw; 
      height: 100vh;
      width: 100vmax;
      height: 100vmax;
      background: rgba(0,0,0,0.05);
      animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #ffffff;
    }
    
    16% {
        background: #f1f3f3;
    }
    
    33% {
        background: #dee0e0;
    }
    
    50% {
        background: #eaf1f3;
    }
    
    66% {
        background: #bdb9ba;
    }    
    
    83% {
        background: #dfdfdf;
    }

    100% {
        background: #d8d8d8;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientFlow {
  animation: gradientFlow 6s ease infinite;
}



